@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Carbon";
    src: url('./fonts/carbon bl.otf');
}

#app {
    margin: 0 auto;
    font-weight: normal;
    width: 100%;
}

a,
.green {
    text-decoration: none;
}
